---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="mt-8 md:mt-12">
  {
    posts.map((post) => (
      <li class="mt-12 md:mt-20 first:mt-0">
        <Item post={post} />
      </li>
    ))
  }
</ul>
